name: Test Deploy Laravel to Hostinger

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install rsync
        run: sudo apt-get update && sudo apt-get install -y rsync

      - name: Setup SSH Key
        run: |
          echo "${{ secrets.KEY }}" > deploy_key
          chmod 600 deploy_key

      - name: Rsync Deploy to Hostinger
        run: |
          rsync -avz --delete \
          --exclude='.git' \
          --exclude='.env' \
          --exclude='deploy.log' \
          -e "ssh -i deploy_key -o StrictHostKeyChecking=no -p ${{ secrets.PORT }}" \
          ./ ${{ secrets.USER }}@${{ secrets.HOST }}:${{ secrets.TARGET }}

      - name: SSH Laravel Optimize & Log
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER }}
          port: ${{ secrets.PORT }}
          key: ${{ secrets.KEY }}
          script: |
            cd ${{ secrets.TARGET }}
            echo "==== Deployment Started at $(date) ====" >> deploy.log
            php artisan config:clear
            php artisan cache:clear
            php artisan route:clear
            php artisan view:clear
            php artisan optimize
            echo "==== Deployment Finished at $(date) ====" >> deploy.log
